
{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>VaultX Register</title>

    <link rel="stylesheet"
          href="{% static 'storage/style.css' %}">

</head>

<body>

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-logo">
            🔐
        </div>

        <h1>Create Account</h1>

        <p class="auth-subtitle">
            Create your VaultX account
        </p>


        {% if error %}

            <div class="error-message">
                {{ error }}
            </div>

        {% endif %}


        <form method="POST">

            {% csrf_token %}


            <label>
                Username
            </label>

            <input
                type="text"
                name="username"
                placeholder="Choose a username"
                required
            >


            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                placeholder="Create a password"
                required
            >


            <label>
                Confirm Password
            </label>

            <input
                type="password"
                name="confirm_password"
                placeholder="Confirm your password"
                required
            >


            <button
                type="submit"
                class="auth-btn">

                🚀 Create Account

            </button>

        </form>


        <p class="auth-footer">

            Already have an account?

            <a href="{% url 'login' %}">
                Login
            </a>

        </p>

    </div>

</div>

</body>
</html>

